/* GLOBAL STYLES */
@font-face {
    font-family: 'Evangelion';
    src: url('fonts/evangelion-classic.ttf') format('truetype');
}

body {
    font-family: 'Evangelion', serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 40px;
    max-width: 800px;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    padding: 40px 0;
    /* max-width: 800px; */
    margin: 0 30px;
    line-height: 1.6;
    background-color: #fffef5f9;
    color: #313131;
}

hr {
    border-top: 2px solid rgb(44, 51, 62);
    margin: auto;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

button {
    background-color: rgb(32, 107, 227);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

button:hover {
    background-color: rgb(22, 87, 207);
}

button:active {
    background-color: rgb(12, 67, 187);
}

/* INPUT STYLES */
input, textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 10px; */
    cursor: pointer;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

select {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* OTHER STYLES */
.loading-gif {
    height: 1em;
    vertical-align: middle;
}

.index_container {
    padding-top: 11%;
}

